In [ ]:
import pandas as pd
all = pd.read_csv('world.csv')
all_filter = all[['洲名','國家','日期','總確診數','新增確診數']]
all_filter

In [ ]:
all_filter[all_filter['國家'] == '台灣']

In [ ]:
all_filter[(all_filter['國家'] == '台灣') | (all_filter['國家'] == '日本')]

In [ ]:
#query()
all_filter.query('國家=="台灣"')
taiwan_japan = all_filter.query('國家=="台灣" or 國家=="日本"')

In [16]:
taiwan_japan.query('日期=="2022-02-05"')

        洲名  國家          日期     總確診數   新增確診數
86371   亞洲  日本  2022-02-05  3219621  102275
164737  亞洲  台灣  2022-02-05    19101      72

In [19]:
taiwan_japan.query('日期>="2022-02-01" and 日期<"2022-03-01"')

        洲名  國家          日期     總確診數   新增確診數
86367   亞洲  日本  2022-02-01  2820053   81593
86368   亞洲  日本  2022-02-02  2914824   94771
86369   亞洲  日本  2022-02-03  3019169  104345
86370   亞洲  日本  2022-02-04  3117346   98177
86371   亞洲  日本  2022-02-05  3219621  102275
86372   亞洲  日本  2022-02-06  3309439   89818
86373   亞洲  日本  2022-02-07  3377378   67939
86374   亞洲  日本  2022-02-08  3478462  101084
86375   亞洲  日本  2022-02-09  3576261   97799
86376   亞洲  日本  2022-02-10  3675865   99604
86377   亞洲  日本  2022-02-11  3774164   98299
86378   亞洲  日本  2022-02-12  3842551   68387
86379   亞洲  日本  2022-02-13  3919931   77380
86380   亞洲  日本  2022-02-14  3979984   60053
86381   亞洲  日本  2022-02-15  4064142   84158
86382   亞洲  日本  2022-02-16  4155027   90885
86383   亞洲  日本  2022-02-17  4250142   95115
86384   亞洲  日本  2022-02-18  4337780   87638
86385   亞洲  日本  2022-02-19  4419254   81474
86386   亞洲  日本  2022-02-20  4490748   71494
86387   亞洲  日本  2022-02-21  4542657   51909
86388   亞洲  日本  2022-02-22  4612104   69447
86389   亞洲  日本  2022-02-23  4692406   80302
86390   亞洲  日本  2022-02-24  4753558   61152
86391   亞洲  日本  2022-02-25  4819151   65593
86392   亞洲  日本  2022-02-26  4891242   72091
86393   亞洲  日本  2022-02-27  4954865   63623
86394   亞洲  日本  2022-02-28  5005881   51016
164733  亞洲  台灣  2022-02-01    18850      60
164734  亞洲  台灣  2022-02-02    18903      53
164735  亞洲  台灣  2022-02-03    18958      55
164736  亞洲  台灣  2022-02-04    19029      71
164737  亞洲  台灣  2022-02-05    19101      72
164738  亞洲  台灣  2022-02-06    19144      43
164739  亞洲  台灣  2022-02-07    19192      48
164740  亞洲  台灣  2022-02-08    19239      47
164741  亞洲  台灣  2022-02-09    19293      54
164742  亞洲  台灣  2022-02-10    19376      83
164743  亞洲  台灣  2022-02-11    19455      79
164744  亞洲  台灣  2022-02-12    19515      60
164745  亞洲  台灣  2022-02-13    19567      52
164746  亞洲  台灣  2022-02-14    19621      54
164747  亞洲  台灣  2022-02-15    19666      45
164748  亞洲  台灣  2022-02-16    19732      66
164749  亞洲  台灣  2022-02-17    19797      65
164750  亞洲  台灣  2022-02-18    19864      67
164751  亞洲  台灣  2022-02-19    19937      73
164752  亞洲  台灣  2022-02-20    20007      70
164753  亞洲  台灣  2022-02-21    20056      49
164754  亞洲  台灣  2022-02-22    20100      44
164755  亞洲  台灣  2022-02-23    20156      56
164756  亞洲  台灣  2022-02-24    20236      80
164757  亞洲  台灣  2022-02-25    20304      68
164758  亞洲  台灣  2022-02-26    20373      69
164759  亞洲  台灣  2022-02-27    20433      60
164760  亞洲  台灣  2022-02-28    20489      56