In [ ]:
from tools import get_path,station_info,merge_dataFrame
import pandas as pd

fileName_list = get_path()
stations_df = station_info()
all_in_out = merge_dataFrame(fileName_list, stations_df)
station_in_out= pd.concat(all_in_out)
station_in_out1 = station_in_out.sort_values(by='日期')
station_in_out1

In [3]:
years = station_in_out1['日期'].dt.year
station_in_out1.groupby(by=[years,'站名'])[['進站','出站']].aggregate(['min','max'])

            進站          出站
           min   max   min   max
日期   站名
2019 七堵   2103  7417  2438  8078
     三坑    426  1606   499  1778
     三塊厝    79   777   108   720
     三姓橋   505  2125   408  1407
     三民      0    52     1    57
...        ...   ...   ...   ...
2023 鼓山     67   958    76  1055
     龍井    126  2131   114  5506
     龍泉      0    92     1   271
     龍港      8   106     7   130
     龜山     31   255    33   287

[1198 rows x 4 columns]

In [4]:
years_months = station_in_out1['日期'].dt.strftime('%Y-%m')
station_in_out1.groupby(by=[years_months,'站名'])[['進站','出站']].aggregate(['min','max'])

               進站          出站
              min   max   min   max
日期      站名
2019-04 七堵   4616  6635  4552  7042
        三坑   1139  1432  1102  1493
        三塊厝   312   416   319   485
        三姓橋   976  1745   924  1230
        三民      7    18     6    18
...           ...   ...   ...   ...
2023-12 鼓山    382   958   401  1055
        龍井    347   801   360   737
        龍泉      8    48    12   271
        龍港     15    87    15    61
        龜山     48   255    48   287

[13619 rows x 4 columns]