In [1]:
from tools import get_path,station_info,merge_dataFrame
import pandas as pd

fileName_list = get_path()
stations_df = station_info()
all_in_out = merge_dataFrame(fileName_list, stations_df)
station_in_out= pd.concat(all_in_out)
station_in_out1 = station_in_out.sort_values(by='日期')
station_in_out1

              日期  站名     進站     出站
0     2019-04-23  基隆   8442   7743
153   2019-04-23  鎮安     15     14
154   2019-04-23  林邊    368    325
155   2019-04-23  佳冬     95     95
156   2019-04-23  東海     66     50
...          ...  ..    ...    ...
86454 2023-12-31  成功   1229   3101
86455 2023-12-31  彰化  19617  16699
86456 2023-12-31  花壇   1864   1532
86444 2023-12-31  潭子   3517   3091
86551 2023-12-31  瑞穗    811   1053

[406761 rows x 4 columns]

In [7]:
def top(df, n=5, column='進站'):
    return df.sort_values(by=column,ascending=False)[:n]

top(station_in_out1)

              日期  站名     進站     出站
40401 2019-10-10  臺北  87047  73210
40639 2019-10-11  臺北  83936  78638
33751 2019-09-12  臺北  83751  71327
64065 2023-09-28  臺北  82689  69221
2148  2020-01-10  臺北  82586  71146

In [8]:
years_months = station_in_out1['日期'].dt.strftime('%Y-%m')
station_in_out2 = station_in_out1.groupby(by=[years_months,'站名'])[['進站','出站']].apply(top)
station_in_out2

                    進站    出站
日期      站名
2019-04 七堵 717    6635  7042
           1669   6281  6454
           1431   6221  6219
           242    6139  6371
           3      6113  6335
...                ...   ...
2023-12 龜山 81131   255   287
           86350   226   146
           86588   214   159
           85637   141    74
           84926   139    90

[68051 rows x 2 columns]

In [9]:
station_in_out2 = station_in_out1.groupby(by=[years_months,'站名'])[['進站','出站']].apply(top,n=1)
station_in_out2

                     進站    出站
日期      站名
2019-04 七堵  717    6635  7042
        三坑  240    1432  1493
        三塊厝 850     416   485
        三姓橋 757    1745  1230
        三民  891      18    15
...                 ...   ...
2023-12 鼓山  82948   958  1055
        龍井  81449   801   685
        龍泉  84804    48    80
        龍港  81202    87    28
        龜山  81131   255   287

[13619 rows x 2 columns]

In [10]:
station_in_out2 = station_in_out1.groupby(by=[years_months,'站名'])[['進站','出站']].apply(top,n=1,column='出站')
station_in_out2

                     進站    出站
日期      站名
2019-04 七堵  717    6635  7042
        三坑  240    1432  1493
        三塊厝 850     416   485
        三姓橋 757    1745  1230
        三民  1130      7    18
...                 ...   ...
2023-12 鼓山  82948   958  1055
        龍井  85955   482   737
        龍泉  86465    41   271
        龍港  86421    29    61
        龜山  81131   255   287

[13619 rows x 2 columns]