In [ ]:
import os
current_path = os.path.dirname(os.path.abspath(__name__))
folder_path = os.path.join(current_path,'每日各站進出站人數')
fileName_list = []
for filename in os.listdir(folder_path):
    if '每日各站進出站人數' in filename:
        fileName_list.append(os.path.join(folder_path,filename))

In [28]:
import pandas as pd
import json
from pprint import pprint
#車站名稱
stations_path = os.path.join(folder_path,'車站基本資料集.json')
with open(stations_path,encoding='utf-8') as file:
    station_content = json.load(file)

stations_df = pd.DataFrame(station_content)


stations_df['stationCode'] = stations_df['stationCode'].astype(int)
stations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   stationCode    243 non-null    int64
 1   stationName    243 non-null    object
 2   stationEName   243 non-null    object
 3   name           243 non-null    object
 4   ename          243 non-null    object
 5   stationAddrTw  243 non-null    object
 6   stationAddrEn  243 non-null    object
 7   stationTel     243 non-null    object
 8   gps            243 non-null    object
 9   haveBike       243 non-null    object
dtypes: int64(1), object(9)
memory usage: 19.1+ KB

In [23]:
inOut_df = pd.read_csv(fileName_list[0])
inOut_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86932 entries, 0 to 86931
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   trnOpDate        86932 non-null  int64
 1   staCode          86932 non-null  int64
 2   gateInComingCnt  86932 non-null  int64
 3   gateOutGoingCnt  86932 non-null  int64
dtypes: int64(4)
memory usage: 2.7 MB

In [37]:
df1 = pd.merge(inOut_df,stations_df,left_on='staCode',right_on='stationCode')
df2 = df1.reindex(columns=['trnOpDate','stationName','gateInComingCnt','gateOutGoingCnt'])
df3 = df2.rename(columns={'trnOpDate':'日期',
                    'stationName':'站名',
                    'gateInComingCnt':'進站',
                    'gateOutGoingCnt':'出站'
                    })

In [44]:
df3['日期'] = pd.to_datetime(df3['日期'].astype(str))

In [48]:
df3.query('日期=="2020-01-01"')

/tmp/ipykernel_25903/4084457219.py:1: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  df3.query('日期=="2020-01-01"')

            日期   站名    進站    出站
0   2020-01-01   基隆  7552  8154
1   2020-01-01   三坑  1020  1135
2   2020-01-01   八堵  1623  1972
3   2020-01-01   七堵  4130  4813
4   2020-01-01   百福  1818  2128
..         ...  ...   ...   ...
234 2020-01-01   瑞芳  5973  7075
235 2020-01-01  海科館   229   228
236 2020-01-01  八斗子   268   307
237 2020-01-01  四腳亭   457   518
238 2020-01-01   暖暖   231   263

[239 rows x 4 columns]